from .production import *

#DATABASES['default']['NAME']     = 'social_status'
#DATABASES['default']['USER']     = 'social_status'
#DATABASES['default']['PASSWORD'] = ''
#DATABASES['default']['HOST']     = ''
#DATABASES['default']['PORT']     = ''

# See https://docs.djangoproject.com/en/1.8/ref/settings/#allowed-hosts
#ALLOWED_HOSTS = []

#SECRET_KEY =

#TIME_ZONE =
